@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar{
  padding:15px;
  position:relative;

}
.children{
  padding:15px;
}
.intro{
  display:flex;
  flex-direction: row;

}
.profile-image{
  height:50px;
  width:50px;
  border-radius: 50%;
  margin-left:10px;
  margin-right:10px;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 
.about-section{
  display:flex;
  flex-direction: row;

}
.highlight-section{
  display:flex;
  flex-direction: column;
  width:100%;
}